org: peakcoders
app: code-vs-covid-19
service: code-vs-covid-19

provider:
  name: aws
  runtime: nodejs12.x
  timeout: 30
  stage: ${param:NODE_ENV}
  environment:
    NODE_ENV: ${param:NODE_ENV}
    DB_NAME: ${param:DB_NAME}
    DB_USER: ${param:DB_USER}
    DB_PASSWORD: ${param:DB_PASSWORD}
    DB_HOST: ${param:DB_HOST}
    DB_PORT: ${param:DB_PORT}
  vpc:
    securityGroupIds:
      - ${param:SECURITY_GROUP_ID}
    subnetIds:
      - ${param:SUBNET1_ID}
      - ${param:SUBNET2_ID}
      - ${param:SUBNET3_ID}
      - ${param:SUBNET4_ID}
      - ${param:SUBNET5_ID}
      - ${param:SUBNET6_ID}

functions:
  healthCheck:
    handler: handler.healthCheck
    events:
      - http:
          path: /
          method: get
          cors: true
  create:
    handler: handler.create
    events:
      - http:
          path: report
          method: post
          cors: true
  getAll:
    handler: handler.getAll
    events:
      - http:
          path: reports
          method: get
          cors: true
  getUser:
    handler: handler.getUser
    events:
      - http:
          path: users/{id}
          method: get
          cors: true
  setAllUserLastScore:
    handler: handler.setAllUserLastScore
    events:
      - schedule: rate(1 minute)

plugins:
  - serverless-offline
